*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte do Google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');


/* tamanho da tela e do posição lado a lado dos itens */


.container{
    background-color:rgb(217, 221, 224);
    height: 100vh;
    display: flex;
}

/* estilização da parte esquerda do site  */
#msg{
    height: 100vh;
    width: 45vw;
   background-image: linear-gradient(
    45deg,
   rgba(223, 0, 255, 0.5),
   rgb(208, 0, 240), 
   rgb(157, 3, 181));
   animation-name: TelaEsquerda;
   animation-duration: 2s;
   border-radius: 0px 40px 40px 0px;   
}

h1{
padding-top: 250px;
  text-align: center;
  font-size: 90px;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;

}

#msg h1{
    animation-name: TelaEsquerda;
    animation-duration: 3s;
}


p{
    margin: 0 auto;
    width: 60%;
    padding-top: 30px;
    font-size: 20px;
    color:rgb(193, 180, 180);
    margin-bottom: 40px;
    animation-name: TelaEsquerda;
    animation-duration: 3s;
    
}

#msg a{
    color: aliceblue;
    font-size: 30px;
    text-decoration: none;
    margin-left: 20%;
    border: 3px solid white;
    border-radius: 30px;
    padding: 7px;
    animation-name: TelaEsquerda;
    animation-duration: 3s;
}


/* Css da parte direita do Site */

#form{
   margin: 0 auto;
   animation-name: TelaDireita;
   animation-duration: 2s;
}

#form h1{
   padding-top: 10rem;
   font-size: 40px;
   color: blueviolet;
   font-weight: 700;
   margin-bottom: 70px;
  
}

input{
    border: none;
    outline: 0;
    margin: 0 auto;
    height: 40px;
    width: 300px;
    display: block;
    margin-bottom: 30px;
   background-color:rgb(217, 221, 224);
    border-bottom: 1px solid rgb(147, 72, 223);
    color: rgb(148, 0, 224);
}

input::placeholder{
    color: blueviolet;
}

 
.btn{
    margin-top: 90px;
    padding-left: 20px;
}

  div #btn-n{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-decoration: none;
    border-radius: 30px;
    padding: 7px;
    background-color: rgb(147, 72, 223);
}

#form a{
    padding-left: 100px;
    padding-right: 100px;
}



#btn-n:hover{
    background-color: rgb(208, 0, 240);
    transition: 1s all;
}


/* ANIMAÇÕES DO SITE DOS LADOS ESQUERDO E DIREITO */

@keyframes TelaEsquerda {
    from{
        transform: 
        translateX(-400px);
        color: transparent;
      
    }

    50%{
        color: transparent;
        border: 0;
    }

    to{
        transform: translateX(0px);     
    }
}


@keyframes TelaDireita {
    from{
        transform: translateY(-200px);
        color: transparent;
    }
    to{
        transform: translateY(0px);
    }
}


